body{
    background: #fed 
}
#content {
    font-family: 'Franklin Gothic Medium';
    font-size: 250px;
    text-align: center;
    color: #448
}

#contentf {
    font-family: 'Calibri';
    font-size: 40px;
    text-align: center;
    color:#444;
}
#button {
        background: rgba(24, 131, 95, 0.333);
        color: rgb(4, 45, 85);
        font-family: 'Franklin Gothic Medium';
        display: block;
        width: 140px;
        font-size: 24px;
        text-transform: uppercase;
        padding: 10px;
        margin: 30 px auto;
        cursor: pointer;
}
.button {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
}

